strong {
  color: gray;
  display: block;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.weatherapp {
  color: red;
}
form {
  color: blue;
}
temperature {
  color: blue;
}
.container {
  background-color: skyblue;
}
.container {
  padding: auto 10px;
  margin: auto 10px;
  border: solid 10px;
  border-radius: 10px;
  border-color: gray;
}
span {
  color: blue;
}

